
body{
    background-color: #71dfe7;
    padding-bottom: 0cm;
    margin-bottom: 0cm;
}


.primary{
    background-color: #009dae;
}
.navbar-collapse{
    display: flex;
    justify-content: end;
    
    
}
.sports-cards{
    margin-top: 2cm;
    background-color: #71dfe7;
    width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.one{
    display: flex;
}
.two{
    display: flex;
}
.three{
    display: flex;
}
.card-img{
    height: 10rem;
    /*width: 15rem;*/
    width: 100%vw;

}
.jumbotron{
    background-color: #ffe652;
    margin-bottom: 0cm;
}
.card{
    background-color: #c2fff9;
    margin:1rem;
}