
body{
    background-color: #71dfe7;
}


.navbar-brand{
    background-color: #009dae;
}
.navbar-collapse{
    display: flex;
    justify-content: end;
    background-color: #009dae;
    
}
.sports-cards{
    margin-top: 2cm;
    background-color: #71dfe7;
    width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    image-rendering: auto;
}
.one{
    display: flex;
}
.two{
    display: flex;
}
.three{
    display: flex;
}